# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://admin:admin@tcg-db.dr3ntn7.mongodb.net/tcg_db

# JWT Configuration
JWT_SECRET=D1S5Zk/ttmqKo98Hbr87uX1ocQtJwxW7OUnWZf7UTh8=
JWT_REFRESH_SECRET=Qi6BcqyfoljAYG/WvUnBWeDws/rwAtJFip0tVzidIWU=
JWT_EMAIL_SECRET=t7YNV+Sj3YelrSjlzAEHD57dPhjBD908OmwzoVGQJ1A=

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=kado.tcg.official@gmail.com
SMTP_PASSWORD=mhvfjfolvfywlbkp
SMTP_FROM=kado.tcg.official@gmail.com

# Application
PORT=3000
APP_URL=http://localhost:3000
NODE_ENV=development

# AWS S3 Configuration (for image uploads)
AWS_ACCESS_KEY_ID=AKIAYEKS37JGICIDY7RU
AWS_SECRET_ACCESS_KEY=oU8EcLOrRT6oWjjx48wfY3w0gx92P2X8+fkxA8+a
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET_NAME=tcg-app-s3 # Make sure to create this bucket in your AWS account

# Superuser Configuration for Testing and Administration
SUPERUSER_EMAIL=admin@gmail.com
SUPERUSER_PASSWORD=Admin123
SUPERUSER_USERNAME=admin

# Google Vision API Configuration (for enhanced card scanning OCR)
GOOGLE_APPLICATION_CREDENTIALS=./gen-lang-client-0549852682-76c51df076d2.json

# AI Configuration - Gemini AI
GEMINI_API_KEY=AIzaSyDKWOsWgHfrq1smxL1KAWcokkGRfNGWmLM

# Card Scanning Optimization
OCR_CONFIDENCE_THRESHOLD=0.4
CARD_MATCH_THRESHOLD=0.6
FUZZY_SEARCH_ENABLED=true
MAX_RECOGNITION_RESULTS=10

# WebSocket Configuration
# Use a separate port for the standalone WS server to avoid conflicts with the HTTP server.
WEBSOCKET_PORT=8080

#Momo-payment configuration (TEST)
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_REQUEST_URL=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_IPN_URL=http://localhost:3000/payments/notify #webhook
MOMO_RETURN_URL=http://localhost:3000/payments/notify #deeplink

PREMIUM_PRICE_VND=50000
TOKEN_PRICE_VND=1
