# Database Configuration
DATABASE_NAME=tcg_db
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_HOST=localhost
DATABASE_PORT=27017

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_EMAIL_SECRET=your_jwt_email_secret

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=kado.tcg.official@gmail.com
SMTP_PASSWORD=mhvfjfolvfywlbkp
SMTP_FROM=kado.tcg.official@gmail.com

# Application
APP_URL=http://localhost:3000

# AWS S3 Configuration (for image uploads)
AWS_ACCESS_KEY_ID=AKIAYEKS37JGICIDY7RU
AWS_SECRET_ACCESS_KEY=oU8EcLOrRT6oWjjx48wfY3w0gx92P2X8+fkxA8+a
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET_NAME=tcg-app-s3 # Make sure to create this bucket in your AWS account

# Note: Rename this file to .env and replace placeholder values with actual configuration before running the application.

# Superuser Configuration for Testing and Administration
SUPERUSER_EMAIL=superadmin@gmail.com
SUPERUSER_PASSWORD=Admin123